<% if logged_in? %>
  <div id="users">
    <div class="row justify-content-center " style="height: 20px;">
      <div class="col-xs-auto ">
        <p><span class="badge badge-primary text-white"><%= @user.name %></span></p>
      </div>
    </div>
    <div class="row justify-content-center " style="height:20px;">
      <div class="col-xs-auto ">
        <p><span class="badge badge-primary text-white"><%= @user.username %></span></p>
      </div>
    </div>
    <div class="row justify-content-center " style="height: 20px;">
      <div class="col-xs-auto">
        <p><span class="badge badge-primary text-white"><%= @user.zipcode %></span></p>
      </div>
    </div>
    <br>
    <div class="row justify-content-center ">
      <div class="col-xs-auto " style="width: 40%;">
        <center>
          <h3 style="font-size: 20px; ">
            <span class="badge badge-secondary" style="width:75%; max-width: 120px;">Favorite Song</span></h3>
          <h4><a href="#" class="badge badge-primary" style="line-height:10px;">
            <!--- display the top 5 most played song by user -->
            <% if @favoriteArtists.present? %>
              <% @favoriteArtists.each do |artist| %>
                <p><%= User.find(artist.user_id).name %></p>
              <% end %>
            <% end %></a></h4>
        </center>
        <div class="row justify-content-center " style="width:auto;">
          <div class="col">
            <center>
              <span class="badge badge-secondary" style="">   Followers </span>
            </center>
          </div>
          <div class="col">
            <center>
              <span class="badge badge-secondary" style="">   Following </span>
            </center>
          </div>
        </div>
        <div class="row justify-content-center " style="width:auto;">
          <div class="col">
            <center>
              <h4 id="followers"><%= link_to @user.followers.count, followers_user_path(@user), :class => "badge badge-primary", :style => "line-height:10px; color:white;" %></h4>
            </center>
          </div>
          <div class="col">
            <center>
              <h4 id="following"><%= link_to @user.following.count, following_user_path(@user), :class => "badge badge-primary", :style => "line-height:10px; color:white; " %></h4>
            </center>
          </div>
        </div>
      </div>
      <div class="col-xs-auto" style="width: 20%;">
        <center>
          <% if @user.avatar.attached? %>
            <%= image_tag (@user.avatar), style: "width:100px; height:100px; object-fit:cover;" %>
          <% else %>
            <img src="/default-avatar.jpg" style="width:100px; height:100px; object-fit:cover;">
          <% end %>
        </center>
      </div>
      <div class="col-xs-auto" style="width: 40%;">
        <center>
          <h3 style="font-size: 20px; ">
            <span class="badge badge-secondary" style="width:75%; max-width: 120px;">Favorite Song</span></h3>
          <h4><a href="#" class="badge badge-primary" style="line-height:10px;">
            <!--- display the top 5 most played song by user -->
            <% if @favoriteArtists.present? %>
              <% @favoriteSongs.each do |song| %>
                <p><%= User.find(song.user_id).name %> - <%= Song.find(song.song_id).title %></p>
              <% end %>
            <% end %></a></h4>
        </center>
      </div>
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-xs-auto">
        <span class="badge badge-success" style="width: 300px; height:auto;"> <%= @user.bio %></span>
      </div>
    </div>
    <div class="row-fluid border border-primary bg-success" style='width:100%;'>
      <ul class="nav nav-tabs " id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="Posts-tab" data-toggle="tab" href="#Posts" role="tab" aria-controls="Posts" aria-selected="true">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Music-tab" data-toggle="tab" href="#Music" role="tab" aria-controls="Music" aria-selected="false">Music</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Playlists-tab" data-toggle="tab" href="#Playlists" role="tab" aria-controls="Playlists" aria-selected="false">Playlists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="Media-tab" data-toggle="tab" href="#Media" role="tab" aria-controls="Media" aria-selected="false">Media</a>
        </li>
        <li class="nav-item" id="MusicButtons" style="display: block;">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-sm" id="your">Your Songs</button>
            <button type="button" class="btn btn-sm" id="like">Liked Songs</button>
          </div>
        </li>
        <% if !logged_in? %>
          <li class="nav-item">
            <%= link_to "Add Music", new_song_url, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Settings", edit_user_url(current_user), class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-2">
          <%= render 'follow_form' if logged_in? %>
        </li>
      </ul>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active user-post border border-primary" id="Posts" role="tabpanel" aria-labelledby="Posts-tab"><%= render "posts/userfeed" %></div>
      <div class="tab-pane fade user-post" id="Music" role="tabpanel" aria-labelledby="Music-tab"><%= render "songs/show_music" %></div>
      <div class="tab-pane fade" id="Playlists" role="tabpanel" aria-labelledby="Playlists-tab"></div>
      <div class="tab-pane fade" id="Media" role="tabpanel" aria-labelledby="Media-tab"><%= render "posts/PhotosOnly" %></div>
    </div>
  </div>
<% end %>
<script>

    $(document).on("click", "#Music-tab", function () {
        console.log("lol");
        $("#MusicButtons").css("display", "block");
    });
    $(document).on("click", "#Posts-tab", function () {
        $("#MusicButtons").css("display", "none");
    });
    $(document).on("click", "#Playlists-tab", function () {
        $("#MusicButtons").css("display", "none");
    });
    $(document).on("click", "#Media-tab", function () {
        $("#MusicButtons").css("display", "none");
    });

    $("#your").on("click", function () {
        $("#yoursongs").css("display", "block");
        $("#likedsongs").css("display", "none");
        console.log("moa");
    });
    $("#like").on("click", function () {
        $("#yoursongs").css("display", "none");
        $("#likedsongs").css("display", "block");
    });
</script>
