
<div class="row">
  <div class="col" style="overflow-y: auto; height:500px;">
    <p>Users</p>
<% @searchUsers.each do |user| %>
<div class="row">
  <div class="col-xs-4">
    <% if user.avatar.attached? %>
      <%= image_tag (user.avatar), style: "width:100px; height:100px; object-fit:cover;" %>
    <% else %>
      <img src="/default-avatar.jpg" class="search-ava" >
    <% end %>
  </div>
  <div class="col-xs-4">
      <p><%= user.name %><br>
      <span  onclick="sendTheAJAX('users','<%= user.id%>')">@<%= user.username %></p></span>
  </div>
  <div class="col-xs-4">
    <button >Quick View</button>
  </div>
</div>
<hr>
<% end %>
</div>
<div class="col border border-primary">
  <p>Songs</p>
<% @searchSongs.each do |song| %>
  <%= render partial: "songs/song", locals: {song: song} %>
<% end %>
</div>
<div class="col border border-primary">
  <p>Posts</p>
<% @searchPosts.each do |post| %>
  <%= render partial: "posts/#{post.post_type}", locals: {post: post} %>

<% end %>
</div>
</div>
