<div id="explore">
  <div class="row border border-primary" style="height:1000px;">
    <div class="col border border-success">
      <h5> Top DJ's</h5>
    </div>
    <div class="col">
      <h5> Top Chart</h5>
      <% @TopChart.each do |song| %>
        <div class="row">
          <%= song.title %>
          <button class="playButton" onclick="SelectedSong(this,  '<%= User.find(song.user_id).username%>' ,'<%= song.title %>', true ,<%=song.id %>,'<%=url_for(song.song_file) %>'); incrementPlays(<%= song.id %>, <%= song.user_id%>)">
            <%= image_tag (song.cover_image), class: "playButtonImage" %>
          </button>
        </div>
      <% end %>
    </div>
    <div class="col">
      <h5> Top Chart for ___</h5>
      <select>
        <option value="EDM">EDM</option>
        <option value="Rock">Rock</option>
        <option value="Jazz">Jazz</option>
        <option value="Dubstep">Dubstep</option>
        <option value="Blues">Blues</option>
        <option value="Techno">Techno</option>
        <option value="Country">Country</option>
        <option value="Electro">Electro</option>
        <option value="Rap">Rap</option>
        <option value="IndieRock">Indie Rock</option>
        <option value="Pop">Pop</option>
        <option value="Classic">Classic</option>
      </select>
    </div>
    <div class="col">
      <h5> Clout List</h5>
    </div>
  </div>
</div>
