<div id="explore">
  <div class="explore-page-row" >
    <div class="explore-TopDj-column">
      <h5> Top DJ's</h5>
    </div>
    <div class="explore-TopChart-column">
      <h5> Top Chart</h5>
      <% @TopChart.each do |song| %>
        <div class="explore-TopChart-row">
          <div class="explore-TopChart-row-column">
            <button class="playButton" onclick="SelectedSong(this,  '<%= User.find(song.user_id).username%>' ,'<%= song.title %>', true ,<%=song.id %>,'<%=url_for(song.song_file) %>'); incrementPlays(<%= song.id %>, <%= song.user_id%>)">
              <%= image_tag (song.cover_image), class: "playButtonImage" %>
            </button>
          </div>
          <div class="explore-TopChart-info-column">
            <p><%= song.user.name %></p>
              <p><%= song.title %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="explore-TopArtist-column">
      <h5> Top Artist</h5>
      <% @TopArtist.each do |artist| %>
        <%= artist.name %>
        @<%= artist.username %>
      <% end %>
    </div>
    <div class="explore-TopChartforGenre-column">
      <h5> Top Chart for ___</h5>
      <select>
        <option value="EDM">EDM</option>
        <option value="Rock">Rock</option>
        <option value="Jazz">Jazz</option>
        <option value="Dubstep">Dubstep</option>
        <option value="Blues">Blues</option>
        <option value="Techno">Techno</option>
        <option value="Country">Country</option>
        <option value="Electro">Electro</option>
        <option value="Rap">Rap</option>
        <option value="IndieRock">Indie Rock</option>
        <option value="Pop">Pop</option>
        <option value="Classic">Classic</option>
      </select>
    </div>
    <div class="explore-Clout-column">
      <h5> Clout List</h5>
    </div>
  </div>
</div>
