<div class="col-xs-3">
  <%= f.label :title %>
  <%= f.text_field :title %>
  <hr/>
  <%= f.file_field :cover_image, accept: "image/png, image/jpeg" %>

  <%= image_tag "MusicButton.png", style: "height:20px; width:20px;" %>
  <%= f.file_field :song_file, accept: "audio/mp3" %>
  <%= f.check_box :premium %>
  <hr/>
</div>
<script>


</script>