<div class="col-xs-3">
  <%= f.fields_for :songs do |song| %>

    <%= song.label :title %>
    <%= song.text_field :title %>
    <hr/>
    <%= song.file_field :cover_image, accept: "image/png, image/jpeg" %>

    <%= image_tag "MusicButton.png", style: "height:20px; width:20px;" %>
    <%= song.file_field :song_file, accept: "audio/mp3" %>
    <%= song.check_box :premium %>
    <hr/>
  <% end %>
</div>
<script>


</script>