<div class="post" id="<%= album.id %>">
  <% user = User.find(album.user_id) %>
  <div class="postLeft">
    <% if user.avatar.attached? %>
      <%= image_tag (user.avatar), class: "post-ava" %>
    <% else %>
      <img src="http://localhost:3000/default-avatar.jpg" class='post-ava'>
    <% end %>
    <div class="UserPostInfo">
      <%= link_to "#{user.name}  @#{user.username.downcase}", user_path(user.id), onclick: "sendTheAJAX('users', #{user.id})", style: "color: white;" %>
      <p style="font-size: 12px;margin-left: 1px;margin-top: 1px;color: lightgray"> <%= age(Time.now, album.updated_at) %>
        ago</p>
    </div>
  </div>
  <div class="postCenter">
    <div style="margin-left: 4px; display: block; overflow: hidden;" id="content">
      <p style="font-size:18px; text-align: left;"><%= album.title %></p>
    </div>
    <div style="display: block; overflow: hidden;">
      <% if album.album_cover.attached? %>
        <%= image_tag  (album.album_cover), class: "imagePost" %>
        <p>picture...</p>
        <%else %>
      <p>No Picture...</p>
      <% end %>
    </div>
  </div>
</div>
