<% playlists = current_user.playlists %>
<% playlists.in_groups_of(5, nil).each do |group| %>
  <div class="row">
    <% group.each do |playlist| %>
      <% if playlist.nil? %>
        <div class="col">

        </div>
      <% elsif playlist.song_positions.size > 3 %>
        <div class="col">
          <div class="playlist_box">
            <img class="image1" src="<%= getPlaylistImageURLforPlaylist(playlist, "1") %>"/>
            <img class="image2" src="<%= getPlaylistImageURLforPlaylist(playlist, "2") %>"/>
            <img class="image3" src="<%= getPlaylistImageURLforPlaylist(playlist, "3") %>"/>
            <img class="image4" src="<%= getPlaylistImageURLforPlaylist(playlist, "4") %>"/>
            <button class="play border border-dark" onclick='SelectedSong(null, null,null,false,<%=playlistToArray(playlist.id).to_json%>, <%= playlist.id.to_json %>)'>
              <i id="play-icon" class="ion-play"></i>
            </button>
            <h3><%= playlist.title %></h3>
            <p>@<%= playlist.user.username %></p>
          </div>
        </div>
      <% else %>
        <div class="col">
          <div class="playlist_box">
            <img class="one_image" src="<%= getPlaylistImageURLforPlaylist(playlist, "1") %>"/>
            <button class="play border border-dark" onclick='SelectedSong(null, null,null,false,<%=playlistToArray(playlist.id).to_json%>, <%= playlist.id.to_json %>'>
              <i id="play-icon" class="ion-play"></i>
            </button>
            <h3><%= playlist.title %></h3>
            <p>@<%= playlist.user.username %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
