<% @song_pos = Get_Positions() %>
<div id="playlists" class="list-group data-url" data-url="<%= sort_playlists_path %>">
  <% unless @song_pos.nil? %>
    <% @song_pos.each do |song_position| %>
      <div class="list-group-item list-item" id='<%= dom_id(song_position) %>' onclick="setNewPlaylistSong(<%= song_position.position.to_json%>)">
        <% @songdata = link_to_song song_position %>
        <img src='<%= url_for @songdata.cover_image %>' style="width: 40px; height: 40px;"/>
        <h6><%= @songdata.title %></h6>
      </div>
    <% end %>
  <% else %>
    <h4>You dont have a playlist yet... Go make one!</h4>
  <% end %>

</div>
<script>
    $("#playlists").sortable({
        update: function (a, ui) {
            console.log($(this).sortable('serialize'));
            Rails.ajax({
                url: $(this).data("url"),
                type: "PATCH",
                data: $(this).sortable('serialize'),
                success: function () {
                    ReorderSongs(<%=PlaylistToArray(cookies[:playlist])%>);
                }
            })
        }
    });
</script>
