<%= link_to 'Vibin Music', home_path, onclick: "sendTheAJAX('home','')" %>
<a onclick="sendTheAJAX('explore', '')">Explore</a>
<a>Notifications</a>
<a id="G" onclick="sendTheAJAX('groupies','')">Groupies</a>
<%= link_to 'Profile', user_path(current_user), onclick: "sendTheAJAX('users',#{current_user.id})" %>
<%= link_to 'Log Out', logout_path, method: :delete %>
<%= form_tag(posts_path, method: :get, class: "", role: 'search', remote: true) do %>
  <%= text_field_tag :term,
                     params[:term],
                     id: 'posts_search',
                     autocomplete: :off,
                     placeholder: 'Search',
                     class: '' %>

<% end %>
<script>
$("#G").on("click", function (){
  console.log("lolas");
  initMap();
});
</script>
