<!DOCTYPE html>
<html lang="en">
<head>
  <title>VibinMusicBeta</title>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= action_cable_meta_tag %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application.js', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div class="navbar">
  <%= render "layouts/nav" %>
</div>
<% if logged_in? %>
  <div class="dropdown-content">
    <h6><%= current_user.name %></h6>
    <!-- DONT USER LINK TO, IT REFRESHES THE PAGE AND STOPS AUDIO FUNCTIONS. DO IT LIKE YOU DID THE LINKS UP TOP. -->
    <h6><%= link_to "@#{current_user.username}", user_path(current_user) %> </h6>
    <%= link_to "Settings", "#", :onclick => "sendTheAJAX('settings', '#{current_user.id}')" %>
    <%= link_to 'Log Out', logout_path, method: :delete, style: "width:100%;" %>
  </div>
  <div class="dropdown-content-notification">
    <h6><%= current_user.name %></h6>
  </div>
<% end %>
<div class="main" id="main">

  <%= yield %>
  <div class="modal" id="myModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
      </div>
    </div>
  </div>
</div>
<% if logged_in? %>
  <div class="musicbar">
    <%= render "songs/song_player" %>
  </div>
<% end %>
</body>
</html>
